* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(218, 218, 218);
  color: black;
  justify-content: center;
  text-align: center;
}

.navbar {
  position: relative;
  width: 100%;
  height: 100px;
  background: black;
}


.mainContainer {  
  margin-top: 3rem;
}

.generalWeather {
  font-size: 3em;
  display: block;
  
}

.specificWeather {
  font-size: 1.5em;
  display: block;
}

.place,
.country {
  font-size: 4em;
  display: inline;
}

.temperature {
  font-size: 1.5em;
  display: inline;
}

.time {
  font-size: 2.5em;
  display: block;
}

.weatherInfo{
  margin-top: 12rem;
}
.weatherIcon {
  font-size: 10em;
  color: black;
}


.inputContainer {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.inputField {
  width: 220px;
  height: 35px;
  outline: none;
  padding: 0 5px;
}

.buttonOne {
  background: none;
  color: white;
  font-size: 1.2em;
  display: inline;
}

.appLogo {
  font-size: 2.5em;
  font-weight: bold;
  position: relative;
  margin-right: 1.2rem;
  color: white;
}

.weekWeatherContainer {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 0;
  justify-content: space-between;
}

.weekWeatherContainer span {
  color: white;
  margin: 0 5vw;
}

.weekWeatherContainer div {
  font-size: 2em;
}

.slidebarIcon {
  display: none;
}

/* @media screen and (max-width: 1000px) {
  .weekWeatherContainer {
    display: none;
  }

  .slidebarIcon {
    display: inline;
    color: white;
    position: absolute;
    top: 3vh;
    right: 3vh;
    font-size: 2.5em;
  }
}
 */
@media screen and (max-width: 500px) {
  .appLogo {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .inputContainer{
    left: 15px !important;
  }

  .inputField {
    width: 75%;
  }
}

@media (orientation: portrait) {
  .weekWeatherContainer {
    display: block;
  }

  .slidebarIcon {
    display: inline;
    color: white;
    position: absolute;
    top: 3vh;
    right: 3vh;
    font-size: 2.5em;
  }
  .weekWeatherContainer {
    background: rgb(0, 0, 0, 0.7);
    position: absolute;
    top: 100px;
    right: 0;
    z-index: +1;
    width: 10rem;
    height: auto;
    font-size: 2em;
  }
}

@media (max-width: 1000px) {
  .weekWeatherContainer {
    display: block;
  }

  .slidebarIcon {
    display: inline;
    color: white;
    position: absolute;
    top: 1.8rem;
    right: 2rem;
    font-size: 2.5em;
  }

  .weekWeatherContainer {
    background: rgb(0, 0, 0, 0.7);
    position: absolute;
    top: 100px;
    right: 0;
    z-index: +1;
    width: 10rem;
    min-height: 100vh;
    height: auto;
    font-size: 2em;
  }
}

@media(max-width:500px){
  .inputContainer{
    top: 2rem;
    left: 2.3rem;
}
}